body {
    background-color: ivory;
}

.header {
    display:flex;
    justify-content: center;
    background-color: rgb(88, 87, 87);
}

.header h1 {
    color: white;
    text-align: center;
    margin: .5em;
}

.mainBody {
    margin: 2em;
}

.mainBody h3 {
    text-align: center;
}

.inputForm {
    display: flex;
    justify-content: center;
}
.monthContainer {
    display: flex;
    justify-content: flex-end;
}

.monthlyTotal {
    display: inline-flex;
    margin: 1em;
}

.highlight {
    /* display: inline-flex; */
    background-color: red;
}